# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Testing
coverage

# Svelte
.svelte-kit

# Output
.output
.vercel
build
dist
package

# Misc
.DS_Store
Thumbs.db
*.pem

# Debug
logs
*.log
pnpm-debug.log*
pnpm-error.log*

# Turbo
.turbo

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Custom
package.json
package.old.json
